@import "tailwindcss";

@theme {
  /* Colores personalizados */
  --color-primary: #EA526F;
  --color-primary-light: #fce7ec;
  --color-primary-dark: #d63355;
  
  --color-secondary: #23B5D3;
  --color-secondary-light: #e0f7fb;
  --color-secondary-dark: #1a8ca3;
  
  --color-accent: #279AF1;
  --color-accent-light: #e3f2fd;
  --color-accent-dark: #1976d2;
  
  --color-dark: #070600;
  --color-light: #F7F7FF;
}
